## Python Basic Programming Exercises

#### Q1: What is the output of following expression
5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1
5 + 4 * 9 % 4 / 6 - 1
5 + 36 % 4 / 6 - 1
5 + 0 / 6 - 1
5 + 0.0 - 1
5.0 - 1
4.0

#### Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [13]:
val = int(input("Enter a number: "))
if (val % 2) == 0:
    print("Entered number is even.")
else:
    print("Entered number is odd.")

Enter a number: 9
Entered number is odd.

#### Q3: Write a program to display the multiplication table by taking a number as input. 
[Hint : Use print statement inside of a loop]

In [18]:
num = int(input("Enter the number you want the multiplication table of: "))
print("The multiplication table of:", num)
for count in range(1,11):
    print(num, 'X', count, '=', num*count)

Enter the number you want the multiplication table of: 13
The multiplication table of: 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

#### Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [32]:
for var in range(2000,3201):
    if (var % 7 == 0) and (var % 5 != 0):
        print(var, end = ', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

In [34]:
print([var for var in range(2000,3201) if (var % 7 == 0) and (var % 5 != 0)])

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

#### Q5: Count the elements of each datatype inside the list and display in output
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [47]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
c_int = 0
c_str = 0
c_float = 0
c_bool = 0
c_none = 0
for var in list1:
    if type(var) == int:
        c_int += 1
    elif type(var) == str:
        c_str += 1
    elif type(var) == float:
        c_float += 1
    elif type(var) == bool:
        c_bool += 1
    else:
        c_none += 1
print("Count of integers:", c_int)
print("Count of strings:", c_str)
print("Count of floats:", c_float)
print("Count of bools:", c_bool)
print("Count of none:", c_none)

Count of integers: 5
Count of strings: 4
Count of floats: 1
Count of bools: 1
Count of none: 1

#### Q6: Add all values from the list with numeric datatypes 
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [51]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

for var in list1:
    if type(var) == int or type(var) == float:
        sum += var
print("Sum of values of numeric datatypes:", sum)

Sum of values of numeric datatypes: 21.5

#### Q7: Concat all str datatypes with hyphen as a delimiter
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [69]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

list2 = [var for var in list1 if type(var) == str]
print('-'.join(list2))

Py-10-SQL-John

#### Q8: Write a UDF that takes list as input and returns sum of all numbers (exclude bool) and count of all str 
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
#### Hint:

def my_func:
    # your code
        
my_func(l1)
#### output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [91]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def my_func(list1):
    sum_int = 0
    count_str = 0
    dict1 = {}
    
    for var in list1:
        if type(var) == int or type(var) == float:
            sum_int += var
        elif type(var) == str:
            count_str += 1
    dict1['Sum of all numbers'] = sum_int
    dict1['Count of strings'] = count_str
    return dict1

my_func(list1)

{'Sum of all numbers': 21.5, 'Count of strings': 4}

#### Q9: Get only odd numbers from the following list and store the numbers in new list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

i. Use loops to get the answer
    
ii. Use list comprehensions
   
iii. Use lambda function with filter

In [94]:
# i. Using loops

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_li = []
for var in li:
    if var % 2 != 0:
        new_li.append(var)

new_li

[5, 7, 97, 77, 23, 73, 61]

In [98]:
# ii Using list comprehension

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

new_li = [var for var in li if var % 2 != 0]
new_li

[5, 7, 97, 77, 23, 73, 61]

In [101]:
# iii using lanbda function with filter

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

new_li = list(filter(lambda a: a % 2 != 0, li))
new_li

[5, 7, 97, 77, 23, 73, 61]

#### Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input numbers.

In [132]:
import numpy as np

def udf_descriptives(*args):
    sum_n = np.sum(args)
    count_n = len(args)
    min_n = np.min(args)
    max_n = np.max(args)
    mean_n = np.mean(args)
        
    print('Sum:', sum_n, ', Count:', count_n, ', Min:', min_n, ', Max:', max_n, ', Mean:', mean_n)

udf_descriptives(1,2,2,4,6)

Sum: 15 , Count: 5 , Min: 1 , Max: 6 , Mean: 3.0

#### Q11: Write an udf to calculate the area of different shapes and take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [33]:
def area_shapes(shape, **kwargs):
    shape = shape.lower()
    if shape == 'square':
        if 'side' in kwargs:
            Area = kwargs['side']**2
            print("The area of square is:", Area)
        else:
            print("Please enter 'side' of square.")
            
    elif shape == 'rectangle':
        if 'length' in kwargs:
            if 'width' in kwargs:
                Area = kwargs['length'] * kwargs['width']
                print("The area of rectangle is:", Area)
            else:
                print("Please enter 'width' of rectangle.")
        else:
            print("Please enter 'length' of rectangle.")
            
    elif shape == 'circle':
        if 'radius' in kwargs:
            Area = 3.14 * (kwargs['radius']**2)
            print("The area of circle is:", Area)
        else:
            print("Please enter 'radius' of circle.")
        
area_shapes('Circle', radius = 2)

The area of circle is: 12.56

#### Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

#### Hint:
def func(l1, l2):
    your code here...
    
#### Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [51]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def func(l1, l2):
    l1_new = set(l1)
    l2_new = set(l2)
    output = {}
    
    output['Matched'] = list(l1_new.intersection(l2_new))
    output['Only in l1'] = list(l1_new - l2_new)
    output['Only in l2'] = list(l2_new - l1_new)
    return output
    
func(l1,l2)

{'Matched': ['December', 'June', 'January', 'February'],
 'Only in l1': ['May', 'March', 'September'],
 'Only in l2': ['October', 'April']}

#### Q13: Write a UDF to check if a number is prime or not.

In [160]:
def isprime(n):
    if n == 1:
        print("Number is not prime.")
    elif n == 2:
        print("Number is prime.")
    elif n > 1:
        for i in range(2, n):
            if n % i == 0:
                print("Number is not prime.")
                break
        else:
            print("Number is prime.")
            
isprime(11)

Number is prime.

#### Q14. Write a program which can compute the factorial of a given numbers. 
- The results should be printed in a comma-separated sequence on a single line. 
- input() function can be used for getting user(console) input

Suppose the input is supplied to the program:  8  
Then, the output should be:  40320 

#### Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [10]:
num = int(input("Enter a number: "))

output = 1
if num < 0:
    print("Please enter a positive number.")
elif num == 0:
    print("Factorial of 0 is 1.")
else:
    for var in range(1, num + 1):
        output *= var
    print("Factorial of", num, "is", output)

Enter a number: 5
Factorial of 5 is 120