## Python Basic Programming Exercises

#### Q1: What is the output of following expression
5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1
5 + 4 * 9 % 4 / 6 - 1
5 + 36 % 4 / 6 - 1
5 + 0 / 6 - 1
5 + 0.0 - 1
5.0 - 1
4.0

#### Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [13]:
val = int(input("Enter a number: "))
if (val % 2) == 0:
    print("Entered number is even.")
else:
    print("Entered number is odd.")

Enter a number: 9
Entered number is odd.

#### Q3: Write a program to display the multiplication table by taking a number as input. 
[Hint : Use print statement inside of a loop]

In [18]:
num = int(input("Enter the number you want the multiplication table of: "))
print("The multiplication table of:", num)
for count in range(1,11):
    print(num, 'X', count, '=', num*count)

Enter the number you want the multiplication table of: 13
The multiplication table of: 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

#### Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [32]:
for var in range(2000,3201):
    if (var % 7 == 0) and (var % 5 != 0):
        print(var, end = ', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

In [34]:
print([var for var in range(2000,3201) if (var % 7 == 0) and (var % 5 != 0)])

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

#### Q5: Count the elements of each datatype inside the list and display in output
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [47]:
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
c_int = 0
c_str = 0
c_float = 0
c_bool = 0
c_none = 0
for var in list1:
    if type(var) == int:
        c_int += 1
    elif type(var) == str:
        c_str += 1
    elif type(var) == float:
        c_float += 1
    elif type(var) == bool:
        c_bool += 1
    else:
        c_none += 1
print("Count of integers:", c_int)
print("Count of strings:", c_str)
print("Count of floats:", c_float)
print("Count of bools:", c_bool)
print("Count of none:", c_none)

Count of integers: 5
Count of strings: 4
Count of floats: 1
Count of bools: 1
Count of none: 1

#### Q6: Add all values from the list with numeric datatypes 
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [50]:
sum = 0
list1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
for var in list1:
    if type(var) == int or type(var) == float:
        sum += var
print("Sum of values of numeric datatypes:", sum)

Sum of values of numeric datatypes: 21.5

#### Q7: Concat all str datatypes with hyphen as a delimiter
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

#### Q8: Write a UDF that takes list as input and returns sum of all numbers (exclude bool) and count of all str 
[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
#### Hint:

def my_func:
    # your code
        
my_func(l1)
#### output --> {'Sum': xxx, 'Count_of_Strs': xxx}